@import "";
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0;background-color: black; color: white;}

img.credit{
  width:300px; 
  height:300px;
  visibility: hidden;
  background-size: 300px 300px;

}

li {
  margin-bottom: 15px;
}

img.hub{
  width: 250px;
  height: 70px;
  display: inline;
  margin-left: 20px;
}

.edis:hover ~ .credit{
  visibility: visible;
  background-image: url(images/yaserhub.png);
}
.bonjo:hover ~ .credit {
  visibility: visible;
  background-image: url(images/bonjo.jpg);
}

.ammar:hover ~ .credit {
  visibility: visible;
  background-image: url(images/amma.jpg);
}

.dave:hover ~ .credit {
  visibility: visible;
  background-image: url(images/dave.png);
}