@import "";
* {box-sizing: border-box}
body {font-family:cursive; margin:0;background-color: black; color: white;}

img.credit{
  width:400px; 
  height:400px;
  visibility: hidden;
  background-size: 400px 400px;
}

.creditcontainer{
  margin-left: 45%;
}

h1{
  margin: 20px;
  margin-left: 45%;
}

li {
  margin-bottom: 15px;
}

img.hub{
  width: 250px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


#khaa{
  visibility:hidden;
}

.edis:hover ~ .credit{
  visibility: visible;
  background-image: url(images/edis.jpg);
}
.bonjo:hover ~ .credit {
  visibility: visible;
  background-image: url(images/bonjo.jpg);
}

.ammar:hover ~ .credit {
  visibility: visible;
  background-image: url(images/amma.jpg);
}

.dave:hover ~ .credit {
  visibility: visible;
  background-image: url(images/dave.png);
}